.arrowsCirce {
    position: absolute;
    top: 50%;
    right: -30%;
    opacity: 0.3;

    & div {
        position: absolute;
        height: 10px;
        width: 10px;
        top: 0;
        left: 0;

        border-radius: 50%;
        & span:first-child {
            top: 20%;
            left: 15%;
            position: absolute;
            font-size: 1.8rem;

            &:hover {
                cursor: pointer;
            }
        }
        & span:last-child {
            top: 20%;
            right: 15%;
            position: absolute;
            font-size: 1.8rem;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
@media (max-width: 900px) {
    .arrowsCirce {
        right: -20%;
    }
}
@media (max-width: 440px) {
    .arrowsCirce {
        right: 0;
        top: 90%;
        opacity: 1;
    }
}
